.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding-left: 2em; 
    padding-right: 2em;

}

@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;

    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;

    }
}